* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.5);
  opacity: 1; /* Firefox */
}
:root {
  --default-layout-width: 1150px;
  --black005: rgba(0, 0, 0, 0.05);
  --black01: rgba(0, 0, 0, 0.1);
  --black02: rgba(0, 0, 0, 0.2);
  --black03: rgba(0, 0, 0, 0.3);
  --black04: rgba(0, 0, 0, 0.4);
  --black05: rgba(0, 0, 0, 0.5);
  --black06: rgba(0, 0, 0, 0.6);
  --black07: rgba(0, 0, 0, 0.7);
  --black08: rgba(0, 0, 0, 0.8);
  --black09: rgba(0, 0, 0, 0.9);
  --black: rgba(0, 0, 0);
  --white005: rgba(255, 255, 255, 0.05);
  --white01: rgba(255, 255, 255, 0.1);
  --white015: rgba(255, 255, 255, 0.15);
  --white02: rgba(255, 255, 255, 0.2);
  --white025: rgba(255, 255, 255, 0.25);
  --white03: rgba(255, 255, 255, 0.3);
  --white04: rgba(255, 255, 255, 0.4);
  --white05: rgba(255, 255, 255, 0.5);
  --white06: rgba(255, 255, 255, 0.6);
  --white07: rgba(255, 255, 255, 0.7);
  --white08: rgba(255, 255, 255, 0.8);
  --white09: rgba(255, 255, 255, 0.9);
  --white: #fff;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  --text: rgb(57, 57, 57);
  --300: 300;
  --400: 400;
  --500: 500;
  --600: 600;
  --700: 700;
  --signature: #3da165;
  --signature01: rgba(61, 161, 101, 0.1);
  --signature015: rgba(61, 161, 101, 0.15);
  --signature02: rgba(61, 161, 101, 0.2);
  --signature05: rgba(61, 161, 101, 0.5);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: var(--text);
  font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.hidden {
  opacity: 0;
  transition: 1s ease-in;
}
.test {
  width: 500px;
  height: 500px;
  background-color: red;
}
.animate-spin {
  animation: spin 1s linear infinite;
  width: 100%;
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
