body {
  color: var(--text);
  background-size: fill;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  .navbar-wrapper {
    width: 100%;
    border-bottom: 1px solid var(--white05);
    background-color: var(--black005);
    border-bottom: 1px solid var(--black01);
  }
  .app-content-wrapper {
    width: 100%;
    max-width: var(--default-layout-width);
    margin: 0 auto;
    padding-top: 1%;
  }
  .home-page {
    h1 {
      padding: 1% 0;
    }
    .home-page-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .left {
      width: 65%;
    }
    .right {
      width: 30%;
      border: 1px solid var(--black01);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 3px 3px 30px var(--black005);
      .top {
        padding: 5%;
        background-color: var(--signature05);
        display: flex;
        align-items: center;
        gap: 5px;
        p {
          padding-top: 5px;
          font-weight: 600;
          font-size: 20px;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        padding: 5%;
        gap: 20px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    h1 {
      width: 90%;
      margin: 0 auto;
    }
    .home-page-content {
      flex-wrap: wrap-reverse;
      gap: 30px;
      .left,
      .right {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
