.comment-section {
  display: flex;
  align-items: center;
  .section-left {
    width: 10%;
    text-align: center;
  }
  .section-right {
    width: 90%;
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
}
