.Post {
  width: 100%;
  border: 1px solid var(--black01);
  border-radius: 10px;
  box-shadow: 3px 3px 10px var(--black005);
  margin-bottom: 20px;
  .post-detail {
    display: flex;
    padding: 2% 2% 2% 0;
    position: relative;
    .filter {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    }
  }
  .post-vote {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .post-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .info-item {
      display: flex;
      align-items: center;
      gap: 20px;

      .community-name,
      .author {
        display: flex;
        align-items: center;
      }
      .community-name {
        text-decoration: underline !important;
        font-size: 16px;
      }
      .author {
        gap: 5px;
        font-size: 14px;
      }
      .time {
        font-size: 14px;
        opacity: 0.7;
      }
      &.post-content {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .post-comment {
    background-color: var(--black005);
    padding: 2% 2% 2% 0;
    display: flex;
    align-items: center;
    .section-left {
      width: 10%;
      text-align: center;
    }
    .section-right {
      width: 90%;
      display: flex;
      align-items: flex-end;
      gap: 5px;
    }
  }
}
@media (max-width: 768px) {
  .post-vote {
    width: 20% !important;
    padding: 20px;
  }
  .post-info {
    width: 80% !important;
  }
  .info-item {
    flex-wrap: wrap;
    gap: 10px !important;
  }
  .post-comment {
    padding: 20px !important;
  }
}
